.footer {
  position: relative;
  bottom: 0px;
  background-color: $paper;
  margin-top: 4rem;
  font-size: 14px;
}

.footer-end {
  margin-top: 1rem;
}

footer ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
