$column: calc(100% / 12);
$columns: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);
$breakpoints: ('xs', 'sm', 'md', 'lg', 'xl', 'xxl');

.container {
  @include width(100vw);
  @include center;
  @include max-width(1100px);

  @include media-sm {
    @include width(95vw);
  }

  @include media-md {
    @include width();
  }
}

@include media-md {
  .container-md {
    @include width();
    @include center;
    @include max-width(1100px);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@mixin columns($size_prefix: '-') {
  @each $value in $columns {
    &#{$size_prefix}#{$value} {
      flex: 0 0 auto;
      width: calc(#{$column} * #{$value});
    }
  }
}

.col {
  @include columns;
}

@include media-xs {
  .col-sx {
    @include columns();
  }
}

@include media-sm {
  .col-sm {
    @include columns();
  }
}

@include media-md {
  .col-md {
    @include columns();
  }
}

@include media-lg {
  .col-lg {
    @include columns();
  }
}

@include media-xl {
  .col-xl {
    @include columns();
  }
}

@include media-xxl {
  .col-xxl {
    @include columns();
  }
}

/* Flex Ordering */

@mixin orders {
  @each $value in $columns {
    &-#{$value} {
      order: $value;
    }
  }
}

.order {
  @include orders;
}

@include media-xs {
  .order-xs {
    @include orders;
  }
}

@include media-sm {
  .order-sm {
    @include orders;
  }
}

@include media-md {
  .order-md {
    @include orders;
  }
}

@include media-lg {
  .order-lg {
    @include orders;
  }
}

@include media-xl {
  .order-xl {
    @include orders;
  }
}

@include media-xxl {
  .order-xxl {
    @include orders;
  }
}
