//$primary: #a9fbc3;
//$primary-transparent: rgba(#aafbc3, 0.8);
$primary: rgb(255, 254, 247);
$primary-transparent: rgb(255, 254, 247);
//$secondary: #662f66;
$secondary: rgb(61, 61, 61);
$paper: #fff8e6;
$white: #fff;
$shadow: rgba(6, 6, 6, 0.44);

$standard: 'Poppins', sans-serif;
$dm_serif: 'DM Serif Display', serif;
$nanum: 'Nanum Pen Script', cursive;
