.paper {
  background-color: $paper;
  @include width(100%);
  @include pad(1rem);
  transform: rotate(-2deg);
  transition: 3s all;
  box-shadow: 4px 4px 10px $shadow;
  position: relative;
}

.paper::before {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  content: '';
  position: absolute;
  background-image: url('/textures/paper.jpeg');
  object-fit: cover;
  opacity: 0.4;
}

.paper:hover {
  transform: rotate(0deg);
  box-shadow: 2px 2px 4px $shadow;
}

.paper__overlay {
  position: relative;
  opacity: 1;
  @include pad(1rem);
}
