.photo {
  background-color: $white;
  @include height(350px);
  @include width(330px);
  @include pad(1rem);
  @include margin-t(2rem);
  transform: rotate(5deg);
  transition: 3s all;
  box-shadow: 4px 4px 10px $shadow;
}

.photo:nth-of-type(even) {
  @include margin-t(0);
  transform: rotate(-3deg);
}

.photo:hover {
  transform: rotate(2deg);
  box-shadow: 2px 2px 4px $shadow;
}

.photo__image {
  @include width(100%);
  @include margin(0px);
  img {
    @include width(100%);
    @include height(310px);
    object-fit: cover;
  }
}

.photo__caption {
  @include width(100%);
  @include height(3rem);
  @include margin-l(-4px);

  display: flex;
  align-items: center;
  font-family: $nanum;
  font-size: 1.6rem;
}
