.project.paper {
  height: 80%;
}
.project.paper:nth-of-type(odd) {
  transform: rotate(1deg);
  z-index: 50;
  position: relative;
}

.project.paper:nth-of-type(even) {
  margin-top: 1.3rem;
  z-index: 0;
  position: relative;
}

.intro {
  height: 100vh;
}

// div.legend {
//   height: 200px;
//   width: 400px;
//   position: fixed;
//   top: calc(100vh - 200px);
//   z-index: 100;
//   display: flex;
//
//   background-color: $primary-transparent;
// }
